<section class="dernierarticles">
    <hgroup>
                <h2 id="dernierarticles"><span>Nos </span>Valeurs.</h2>
                <h3> Le monde de demain compte sur vous.</h3>
            </hgroup> 
			
{{!-- wrapper --}}
 <div class="wrapper">

                <div class="col" id="tourne">
                    <div class="container-img">
                        <div  class="front" style="background-image: url(images/pourqui.jfif)">
                            <div class="inner">
                                <p>Pourquoi?</p>
                  <span>L'adopter</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Pour que notre vie soit plus belle et nos relations plus saine.
Pour que les adultes ne souffre plus et ne passe plus leur vie à se réparer. 
</p>
                            </div>
                        </div>
                    </div>
                </div>

				 <div class="col" id="tourne-deux">
                    <div class="container-img">
                        <div  class="front" style="background-image: url(images/slid.gif)">
                            <div class="inner">
                                <p>Pour qui?</p>
                  <span>C'est destinée</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Pour l'intérêt générale, pour tous les adultes sans distinction de genre de race ou de confessions. 
</p>
                            </div>
                        </div>
                    </div>
                </div>

				 <div class="col" id="tourne-trois">
                    <div class="container-img">
                        <div  class="front" style="background-image: url(images/comment.jfif)">
                            <div class="inner">
                                <p>Comment?</p>
                  <span>Le mettre en place</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>En supprimant les  <a  class="veo" target="blanck" href="http://localhost:3000/art/5f6b1c180163203e6487c371">VEO</a>, en reconnaissant l’enfant comme une personne à par entière avec ses propre envies et besoins. </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
				</section>
                
</main>

