<section class="dernierarticles">
    <hgroup>
        <h2 id="dernierarticles"><span>Nos </span>Valeurs.</h2>
        <h3> Le monde de demain compte sur vous.</h3>
    </hgroup>

    {{!-- wrapper --}}
    <div class="wrapper">

        <div class="col" id="tourne">
            <div class="container-img">
                <div class="front" style="background-image: url(images/pourqui-test.jpg)"></div>
                <div class="back">
                    <div class="inner">
                        <p class="p-inner">Pour que notre vie soit plus belle et nos relations plus saines.
                            Pour que les adultes ne souffrent plus et ne passent plus leur vie à se réparer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" id="tourne-deux">
            <div class="container-img">
                <div class="front" style="background-image: url(images/aqui.gif)"></div>
                <div class="back">
                    <div class="inner">
                        <p class="p-inner">Pour l'intérêt général, pour tous les adultes sans distinction de genre,
                            d'origine
                            ou de confession.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" id="tourne-trois">
            <div class="container-img">
                <div class="front" style="background-image: url(images/comment-test.jpg)"></div>
                <div class="back">
                    <div class="inner">
                        <p class="p-inner">En supprimant les <a class="veo" target="blanck"
                                href="https://childup.herokuapp.com/art/5f881e411e3c22001726a53f">VEO</a>, en reconnaissant
                            l’enfant comme une personne à part entière avec ses propres désirs et besoins. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>