  {{!-- <section class="nosvaleurs">
        <hgroup>
            <h2 id="nosvaleurs"><span>Nos Va</span>leurs.</h2>
            <h3>La Bienveillance, L'Amour et La Tolérance</h3>
        </hgroup>
        <div class="valpicto">
            <figure><img class="picto" src="images/bienveillance.png" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/coeur.svg" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/entraide.png" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
    </section> --}}