
    <section class="dernierarticles">
            <hgroup>
                <h2 id="dernierarticles"><span>Nos </span>Valeurs.</h2>
                <h3> Le monde de demain compte sur vous.</h3>
            </hgroup>
            <figure class="flex">
            <img class="citation" src="images/ee.jpg" alt=""></figure>
<img class="tester" src="images/ee-mobile.jpg" alt=""></figure>

            </section>
            </main>