 <footer>

        <div class="footer">
            <p class="conteneur-rs">Suivez Nous!</p>

            <ul class="conteneur-rs">
                <li> <a target="_blanck" href="https://www.facebook.com/Rise-Up-102827964883069"> <img class="reso" src="/images/facebookJaune.svg" alt=""></a></li>
                <li><img class="reso" src="/images/INSTArose.svg" alt=""></li>
                <li><img class="reso" src="/images/PINTERESTbleu.svg" alt=""></li>
            </ul>
        </div>



        <div class="footer">
            <p class="conteneur-rs">Plan du Site</p>

            <ul class="ul-footer">
                <li> <a class="a-footer" itemprop="url" href="/"> Accueil </a></li>
                <li> <a  class="a-footer" itemprop="url" href="/sorties"> Loisirs </a></li>
                <li> <a class="a-footer" itemprop="url" href="/articles"> Blog </a></li>
                <li> <a class="a-footer" itemprop="url" href="/contact"> Nous contacter </a></li>

            </ul>
        </div>



        <div class="footer"><a class="conteneur-rs" href="/mentionslegales">Mentions légales</a></div>

        
    </footer>
</body>

</html>