<head>
  <meta charset="UTF-8">
  <!-- couleur du navigateur en rose -->
  <meta name="theme-color" content="#eeaeca">
  <meta name="description"
    content="Promotion de l'éducation positive, le blog Rise Up à pour vocation de créer une première reflexion sur l'éducation positive / bienveillante et donner l'envie aux gens de faire de plus amples recherches. ">
  <meta name="auteur" content="Saida Benadour 2020">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rise Child up!</title>




  {{!-- liens css --}}

  <link rel="stylesheet" href="/stylesheets/menu.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/loisirs.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {{!-- font --}}
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap" rel="stylesheet">

  {{!-- script js --}}
  <script type="module" src="javascripts/menu.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="javascripts/livre.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="javascripts/sortie.js"></script>
  <script type="module" src="javascripts/toggle-password-icon"></script>
</head>