<!-- navigation -->
<header>
<div class="menu">
    <a href="/"> <img  class="logo" src="/images/animlogo.svg" alt="logo"></a>
  
<nav>

   <div class="navbar nav-links" id="up">
  <a class="dropbtn" href="/"> <img  class="picto-nav" src="/images/home.svg" alt="home">Accueil</a>
  
 <div class="dropdown">
    <button class="dropbtn"> <img  class="picto-nav " src="/images/jeuxx.svg" alt="loisir">Loisirs 
    <i class="fa fa-caret-down"></i></button>

    <div class="dropdown-content">
      <a href="/sorties">Sorties Familiales</a>
      <a href="/livres">Coin Lecture</a>
    </div>
  </div> 

   <div class="dropdown">
   <button class="dropbtn"><img  class="picto-nav" src="/images/blog.svg" alt="blog">Blog</a> 
     <i class="fa fa-caret-down"></i></button> 

    <div class="dropdown-content">
       <a href="/articles">Tous les Articles</a>
    <a href="/fondamentaux">Les fondamentaux</a>
      <a href="/partagedexperiences">Partage d'Expériences</a>
      <a href="/conseilsdepro">Conseils de Professionnels</a>
       {{#if isAdmin }} 
      <a href="/brouillon">Brouillons</a>
   {{/if}}
   {{#if isEditor}} 
      <a href="/brouillon">Brouillons</a>
   {{/if}}
    </div>
  </div> 
  
{{#unless isLoggedIn}}
  <div class="dropdown">
     
    <a href="/sinscrire" class="dropbtn"> <img  class="picto-nav" src="/images/Adm.svg" alt="inscription">Inscription </a>

    <div class="dropdown-content">
      <a href="/sidentifier">S'identifier</a>
      
    </div>
  </div> 
{{/unless}}

 {{#if isLoggedIn}}
  <div class="dropdown">
      
    <a class="dropbtn" href="/profile"> <img  class="picto-nav" src="/images/profil.svg" alt="profil">Profil 
    </a> 


    <div class="dropdown-content">
        {{#if isAdmin }}     
      <a href="/dashboard">Dashboard</a>
      {{/if}}
      {{#if isEditor}} 
     <a href="/dashboard-editor">Dashboard</a>
    {{/if}}
    </div>
     
  </div> 

<a href="/deconnexion"> <img  class="picto-nav" src="/images/logout.svg" alt="deconnexion"></a>
{{/if}} 
</div> 
</nav>

</div>

<div class="burger"> <img  class="spanburger" src="/images/nav.png" alt="menu"></div>

  </header>