<!-- navigation -->
<section class="menu">
    <a href="/"> <img class="logo" src="images/test.svg" alt=""></a>
    <nav>

        <ul class="nav-links" id="up">

            <li><img class="picto-nav" src="images/home.svg" alt=""><a href="/">Accueil</a></li>

            <div class="dropdown">
                <li class="dropbtn"><img class="picto-nav " src="images/jeuxx.svg" alt=""><a href="#">Loisirs</a></li>

                <div class="dropdown-content">
                    <a href="/sorties">Sorties familiales</a>
                    <a href="/livres"> Coin Lecture</a>

                </div>

            </div>

            <li><img class="picto-nav" src="images/blog.svg" alt=""> 
            <a href="/blog">Blog</a></li>

            <div class="dropdown">
                {{#unless isLoggedIn}}
            <li><img class="picto-nav" src="images/Adm.svg" alt="">
              
                <a href="/sinscrire">Admin</a></li>
                
                <div class="dropdown-content">
                    <a href="/sidentifier">sidentifier </a>
                    {{/unless}}
  </div>
             
            </div>
                    {{#if isLoggedIn}}

                    <div class="dropdown">

                    <li><img class="picto-nav" src="images/profil.svg" alt=""><a href="/profile"> profile</a></li>

                    <div class="dropdown-content">
                    {{/if}}
                    {{#if isAdmin}}
                    <a href="/dashboard">Dashboard</a>
                      {{/if}}
                      
                </div>
             
            </div>
             {{#if isLoggedIn}}
            <li><a href="/deconnexion"><img class="picto-nav" src="images/logout.svg" alt="">  </a></li>                
                   {{/if}}  
        </ul>
    </nav>


</section>

<div class="burger"> <img class="spanburger" src="images/nav.png" alt=""></div>