  {{!-- <!-- section1 -->
    <section class="premiere">
        <hgroup>
            <h2 id="apropos"><span>L'Educati</span>on Positive.</h2>
            <h3> L'éducation Bienveillante Quezaco?!</h3>
        </hgroup>

        <div class="container">

            <div class="b">
                <figure><img class="numerosun" src="images/text.jpg" alt=""></figure>
            </div>

            <div class="b">
                <p class="ppropos">-Bannir les violences ordinaire et physique.<br>
                    -Formuler vos demandes et éviter le rapport de force. <br> Voilà quelques principes de l'éducation
                    positive.<br>
                    Nous ne sommes ni des psychologues ni des experts, l'éducation positive fait partie de l'essence
                    même de l'Homme. Vous trouverez des conseils des astuces et du partage d'expérience. <br>Ce site ce veut accessible à
                    tous et pour tous sans distinction ni exception.

                </p>
            </div>
        </div>
    </section>

      <section class="nosvaleurs">
        <hgroup>
            <h2 id="nosvaleurs"><span>Nos Va</span>leurs.</h2>
            <h3>La Bienveillance, L'Amour et La Tolérance</h3>
        </hgroup>
        <div class="valpicto">
            <figure><img class="picto" src="images/bienveillance.png" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/coeur.svg" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/entraide.png" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
    </section>

      <section class="dernierarticles">
        <hgroup>
            <h2 id="dernierarticles"><span>Derniè</span>re articles.</h2>
            <h3> Suivez l'actualitée de notre rédaction.</h3>
        </hgroup>

        <div class="containerart">
            <figure class="artblog"><img class="artblogb" src="images/quatre.jpg" alt=""></figure>
            <figure class="artblog"><img class="artblogb" src="images/trois.jpg" alt=""></figure>



        </div>
    </section> --}}
 <main>

     <section class="premiere">
 <hgroup>
                <h2 id="apropos"><span>L'Educati</span>on Positive.</h2>
                <h3> L'éducation Bienveillante Quezaco?!</h3>
            </hgroup>
 <div class="container" class="flex">
            <p class="pflex">« Parentalité bienveillante », « discipline positive », « éducation bienveillante », tous les auteurs du
                21ème siècle partagent la même vision de l’éducation, basée sur l’épanouissement personnel de l’enfant.
                Celle-ci se rapproche de celle, plus globale, de la psychologie positive, qui s’appuie sur les dernières
                recherches en neuroscience, étudiant notamment le bonheur et les comportements humains. Le blog Cool
                Parents Make Happy Kids s’inscrit dans cette philosophie, avec comme conviction première que pour que
                nos enfants deviennent des adultes heureux et épanouis, mieux vaut qu’ils puisent et exploitent ce qu’il
                y a de meilleur en eux, plutôt que de devenir ce que nous, parents, voulons qu’ils soient. Et pour
                parvenir à cela, on est bien loin de cette croyance traditionnelle, parfois ancrée au fond de nous, que
                pour ‘élever’ notre enfant, il faut le corriger, le punir, le faire obéir, et instaurer un rapport de
                force. Bien au contraire, l’éducation bienveillante nous invite à poser un regard positif et respectueux
                sur nos enfants.</p></div>
     </section>

    <a href="#up"> <img class="up" src="images/up.png" alt=""></a>