<main>
    <section class="premiere">
        <hgroup>
            <h2 id="apropos"><span>L'Educati</span>on Positive.</h2>
            <h3> L'éducation Bienveillante Quezaco?!</h3>
        </hgroup>
        <div class="container-home flex">
            <p class="pflex">L'éducation positive, l'éducation bienveillante, éducation sans veo, (violences ordinaires
                éducatives), sont des branches de la psychologie positive, une science basée sur des recherches
                scientifiques.

                Les évolutions en neurosciences démontrent que les méthodes d'éducation, les mots, les gestes affectés
                aux enfants ont une grande incidence sur leur cerveau, leur développement, leur confiance en eux, et
                leurs relations avec les autres.

                De nombreuses études vont dans ce sens. L'objectif est de donner aux enfants les outils nécessaires pour
                affronter ce monde, leur permettre de devenir des adultes épanouis, heureux, bienveillants.

                Il faut se défaire des croyances ancrées dans les moeurs. Certaines tendent à nous faire croire que les
                enfants
                ont besoin d'être punis et corrigés pour comprendre et se forger. D'autres, supposent que le rapport de
                force et la
                supériorité est la base des relations enfants adultes sans lesquelles le respect ne serait pas possible.

                Ici, vous trouverez des informations qui s'appuient sur des expériences personnelles, et des éléments
                scientifiques qui vous
                permettront de vous forger votre propre réflexion.
                L'objectif visé par ce site consiste, à susciter l'envie d'en apprendre davantage sur ce concept.

            </p>
        </div>
    </section>