<main>
    <section class="premiere">
        <hgroup>
            <h2 id="apropos"><span>L'Educati</span>on Positive.</h2>
            <h3> L'éducation Bienveillante Quezaco?!</h3>
        </hgroup>
        <div class="container-home flex">
            <p class="pflex">L'éducation positive, l'éducation bienveillante, éducation sans veo, (violences ordinaire
                éducative), sont des branches de la psychologie positive une science basé sur les recherches
                scientifiques.

                Les évolutions en neuroscience démontrent que les méthodes d'éducation, les mots, les gestes affectés
                aux enfants ont une grande incidence sur leur cerveaux, leur développement, leur confiance en eux, et
                leur relations avec les autres.

                De nombreuses études vont dans ce sens, l'objectif est de donner aux enfants les armes nécessaires pour
                affronter ce monde, leur permettre d'être des adultes épanouie, heureux, bienveillant et remplit de
                valeurs.

                Il faut se défaire des croyances ancré dans les moeurs qui tendent à nous faire croire que les enfants
                ont besoin d'être punis et corrigé pour comprendre et se forger, que le rapport de force et la
                supériorité est la base des relations enfants adultes et que sans ça le respect n'est pas possible.
                Ici vous trouverez des informations appuyez d'expériences personnels ou d'élément scientifique qui vous
                permettront de vous forger votre propre réflexions. Le but étant de vous donner envie d'en apprendre
                d'avantage et de faire vos propre recherches approfondis.

            </p>
        </div>
    </section>