  <!-- section1 -->
    <section class="premiere">
        <hgroup>
            <h2 id="apropos"><span>L'Educati</span>on Positive.</h2>
            <h3> L'éducation Bienveillante Quezaco?!</h3>
        </hgroup>

        <div class="container">

            <div class="b">
                <figure><img class="numerosun" src="images/text.jpg" alt=""></figure>
            </div>

            <div class="b">
                <p class="ppropos">-Bannir les violences ordinaire et physique.<br>
                    -Formuler vos demandes et éviter le rapport de force. <br> Voilà quelques principes de l'éducation
                    positive.<br>
                    Nous ne sommes ni des psychologues ni des experts, l'éducation positive fait partie de l'essence
                    même de l'Homme. Vous trouverez des conseils des astuces et du partage d'expérience. <br>Ce site ce veut accessible à
                    tous et pour tous sans distinction ni exception.

                </p>
            </div>
        </div>
    </section>

      <section class="nosvaleurs">
        <hgroup>
            <h2 id="nosvaleurs"><span>Nos Va</span>leurs.</h2>
            <h3>La Bienveillance, L'Amour et La Tolérance</h3>
        </hgroup>
        <div class="valpicto">
            <figure><img class="picto" src="images/bienveillance.png" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/coeur.svg" alt="">
                <figcaption></figcaption>
            </figure>

            <figure><img class="picto" src="images/entraide.png" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
    </section>

      <section class="dernierarticles">
        <hgroup>
            <h2 id="dernierarticles"><span>Derniè</span>re articles.</h2>
            <h3> Suivez l'actualitée de notre rédaction.</h3>
        </hgroup>

        <div class="containerart">
            <figure class="artblog"><img class="artblogb" src="images/quatre.jpg" alt=""></figure>
            <figure class="artblog"><img class="artblogb" src="images/trois.jpg" alt=""></figure>



        </div>
    </section>

    <a href="#up"> <img class="up" src="images/up.png" alt=""></a>