  <section class="slider">
                <h1>LA POSITIVITE AU COEUR DE NOS VIES</h1>
                <h3 class="titreheader"> Amour <span> Paix</span> Respect</h3>
                <video itemprop="video" class="vid" autoplay muted preload="metadata" id="bgvideo" loop>
                    <source itemprop="video" src="/video/video.mp4" type="video/mp4">
                        <source src="/video/video.ogv" type="video/ogv">
           <source src="/video/video.webm" type="video/webm">
           </video>
            </section>
        </section>
      