<hgroup class="dashboard-title">
   <h2 class="apropos">Das<span>hboa</span>rd</h2>
   <h3>Bienvenue {{currentUser.username}} sur votre espace de gestion ! </h3>
</hgroup>


<div class="container-dashboard">
   <h3> <img class="picto" src="images/blog.svg" alt="blog"> Articles</h3>

   <a class="a-dashboard" href="/create-article">Ajouter </a>



   <a class="a-dashboard" href="/dashboard/manage-articles">Modifier</a>

   <h3><img class="picto" src="images/profil.svg" alt="profil"> Utilisateurs</h3>

   <a class="a-dashboard" href="/dashboard/manage-users">Manager </a>

</div>