<hgroup class="dashboard-title">
 <h2 class="apropos">Das<span>hboa</span>rd</h1>
    <h3 >Bienvenue sur votre espace de gestion ! </h3>
</hgroup>


<div class="container-dashboard">
     <h3>  <img class="picto" src="images/blog.svg" alt=""> Articles</h3>
    <a class="btn" href="/create-article">
        <button class="btn-dashboard">Ajouter un article</button>
    </a>

     <a class="btn" href="/dashboard/manage-articles">
        <button class="btn-dashboard">Modifier un article</button> <br>   
    </a>
     
</div>
