
<section class="contain">
  <hgroup>
    <h2 id="apropos">Editer<span> l'utilisa</span>teur.</h2>
    <h3> <span title="{{user._id}}">{{user.username}}</span></h3>
  </hgroup>


<section class="container">
<form method="post" action="/users/edit/{{user._id}}" class="form">

    <h2 class="title">Choisir un role</h2>
    <div class="flex row">
        <label for="radio-user" class="is-clickable">user</label>
        <input id="radio-user" name="role" value="user" type="radio" >
        
        <label for="radio-editor" class="is-clickable">editor</label>
        <input id="radio-editor" name="role" value="editor" type="radio" >
       
        <label for="radio-admin" class="is-clickable">admin</label>
        <input id="radio-admin" name="role" value="admin" type="radio" >
    </div>
    <button class="btn">ok</button>

</form></section>
