<hgroup>
    <h2 class="apropos">Ajouter un <span>nouve</span>lle article</h2>
    <h3>Remplissez les champs ci dessous pour construire votre article </h3>
</hgroup>



<form method="post" action="/article" class="container-inscr" enctype="multipart/form-data">


    <label for="titre" class="label"><b>Titre</b></label>
    <input class="input" id="titre" type="text" name="titre" class="label">


    <label for="date" class="label"><b>Date</b></label>
    <input class="input" id="date" type="date" name="date" class="label">

    <label for="sous_titre" class="is-clickable"><b>Sous titre</b></label>
    <input class="input" id="sous_titre" type="text" name="sous_titre">

    <label for="contenu" class="is-clickable"><b>Contenu</b></label>
    {{!-- <input class="label" id="contenu" type="text" name="contenu" ><br> --}}

    <textarea class="input" name="contenu" required placeholder="Votre message" rows="10"></textarea>

    <label for="auteur" class="label"><b>Auteur</b></label>
    <input class="input" id="auteur" type="text" name="auteur" value="{{article.auteur}}">
    {{!-- {{#each users}}
    <label for="auteur" class="label">admin</label>
        <input id="auteur" name="username" value="{{users.username}}" type="radio" >
{{/each}} --}}
    <label for="redacteurs" class="label"><b>redacteur</b></label>
    <select class="input" class="label" id="redacteurs" class="" name="redacteurs" required>
        <option value="-1" disabled selected> Choisir un rédacteur...</option>
        {{#each redacteurs}}
        <option value="{{this._id}}"> {{this.username}}</option>

        {{/each}}
    </select>
    <label for="categorie" class="label"><b>Categorie</b></label>
    <select class="input" class="label" id="categorie" class="" name="categorie" required>
        <option value="-1" disabled selected> Choisir une categorie...</option>
        <option value="partage d éxpérience">Partage d éxpérience</option>
        <option value="conseils de professionnel">Conseils de professionnel</option>

    </select><br>


    <label for="image" class="label"><b>Image</b></label>
    <input class="input" id="image" type="file" name="image">


    <br>
    <button class="button-poster">Poster</button>
</form>

</section>