
 <section class="contain">
  <hgroup>
    <h2 id="apropos">Mettre à <span>jour le role</span> de:</h2>
    <h3>  {{user._id}}-{{user.username}}</h3>
  </hgroup>



<form method="post" action="/users/edit/{{user._id}}" class="form container-inscr">

    
    <div class="role">
        <label for="radio-user" class="label">user</label>
        <input id="radio-user" name="role" value="user" type="radio" >
        
        <label for="radio-editor" class="label">editor</label>
        <input id="radio-editor" name="role" value="editor" type="radio" >
       
        <label for="radio-admin" class="label">admin</label>
        <input id="radio-admin" name="role" value="admin" type="radio" >
    </div>
    <button class="button-poster">Mettre à jour.</button>

</form>
</section>
