  

   <hgroup >
    <h2 class="apropos">Ajouter un <span>nouve</span>lle article</h2>
    <h3>Remplissez les champs ci dessous pour construire votre article </h3>
</hgroup>



<form method="post" action="/article" class="form container-dashboard" enctype="multipart/form-data">
  

    <label for="titre" class="label">Titre</label>
    <input class="input" id="titre" type="text" name="titre" class="label"><br>

    <label for="sous_titre" class="is-clickable">sous titre</label>
    <input class="label" id="sous_titre" type="text" name="sous_titre"><br>

    <label for="contenu" class="is-clickable">Contenu</label>
    <input class="label" id="contenu" type="text" name="contenu"><br>


    <label for="categorie" class="label">categorie</label><br>
      <select class="label"  id="categorie" class="" name="categorie" required>
        <option value="-1" disabled selected> Choisir une categorie...</option>
        <option value="partage d éxpérience">partage d éxpérience</option>
        <option value="conseils de professionnel">conseils de professionnel</option>
        
      </select><br>


 <label for="image" class="label">image</label>
    <input class="label" id="image" type="file" name="image">


<br>
    <button class="btn label">poster</button>
</form>

</section>