<hgroup>
    <h2 class="apropos">Ajouter un <span>nouve</span>lle article</h2>
    <h3>Remplissez les champs ci dessous pour construire votre article </h3>
</hgroup>



<form method="post" action="/article" class="container-inscr" enctype="multipart/form-data">


    <label for="titre" class="label"><b>Titre</b></label>
    <input class="input label" id="titre" type="text" name="titre" >


    <label for="date" class="label"><b>Date</b></label>
    <input class="input label" id="date" type="date" name="date" >

    <label for="sous_titre" ><b>Sous titre</b></label>
    <input class="input" id="sous_titre" type="text" name="sous_titre">

    <label for="contenu" ><b>Contenu</b></label>

    <textarea class="input" name="contenu" id="contenu" required placeholder="Votre message" rows="10"></textarea>

    <label for="auteur" class="label"><b>Auteur</b></label>
    <input class="input" id="auteur" type="text" name="auteur" value="{{article.auteur}}">
  
    <label for="redacteurs" class="label"><b>redacteur</b></label>
    <select class="input label" id="redacteurs" name="redacteurs" required>
        <option value="" disabled selected> Choisir un rédacteur...</option>
        {{#each redacteurs}}
        <option value="{{this._id}}"> {{this.username}}</option>

        {{/each}}
    </select>
    <label for="categorie" class="label"><b>Categorie</b></label>
    <select class="input label"  id="categorie"  name="categorie" required>
        <option value="" disabled selected> Choisir une categorie...</option>
        <option value="Partage d éxpérience">Partage d éxpérience</option>
        <option value="Conseils de professionnel">Conseils de professionnel</option>
        <option value="Les fondamentaux">Les fondamentaux</option>
        <option value="Brouillons">Brouillons</option>
    </select><br>


    <label for="image" class="label"><b>Image</b></label>
    <input class="input" id="image" type="file" name="image">


    <br>
    <button class="button-poster">Poster</button>
</form>

