<section class="contain">
   
    <hgroup>
        <h2 id="apropos">Art<span>icles</span>.</h2>
        <h3> Retrouvez tous les articles de notre rédaction.</h3>
    </hgroup>

    <section class="container-art">
 {{#unless articles.length}}
        
            
               <p >Nous sommes désolé il n'y à pas d'articles pour le moment...</p> 
         
        {{/unless}}
        {{#each articles}}

       <a href="/art/{{this._id}}"> <figure class="blog"> <img  class="artblog" src="{{this.image}}" alt="image enfance"></a>
            <figcaption> <p class="titre-figcaption">{{this.titre}} </p>  <a href="/art/{{this._id}}">> Accédez à l'article</a></figcaption>
        </figure>


        {{/each}}
    </section>
</section>




