

    <section class="deuxieme">
        <hgroup>
            <h2 id="apropos"><span>Lore</span>m ipsum.</h2>
            <h3> dolor sit amet consectetur adipisicing elit.</h3>
        </hgroup>

        <div class="container">

       <figure class="blog"><a href="/art"><img class="artblog" src="images/un.jpg" alt=""></a><figcaption>dolor sit amet</figcaption></figure>
       <figure class="blog"><img class="artblog" src="images/deux.jpg" alt=""><figcaption>dolor sit amet</figcaption></figure>

       <figure class="blog"><img class="artblog" src="images/trois.jpg" alt=""><figcaption>dolor sit amet</figcaption></figure>
       <figure class="blog"><img class="artblog" src="images/quatre.jpg" alt=""><figcaption>dolor sit amet</figcaption></figure>
       
       
       
       <figure class="blog"><img class="artblog" src="images/cinq.jpg" alt=""><figcaption>dolor sit amet</figcaption></figure>
       <figure class="blog"><img class="artblog" src="images/six.jpg" alt=""><figcaption>dolor sit amet</figcaption></figure> 


{{#each articles}}

     <figure class="blog"><a href="/art"></a> <img src="{{this.image}}" alt=""><figcaption>{{this.titre}}</figcaption></figure>
       
               
{{/each}}


        </div> 
    </section>

