<section class="contain">

  <hgroup>
    <h2 id="apropos">Art<span>icles</span>.</h2>
    <h3> Conseils de professionnel.</h3>
  </hgroup>

  <section class="container-art">
    {{#each articles}}
    {{#compare categorie "Conseils de professionnel" operator="==="}}


    <figure class="blog"><a href="/art"></a> <img class="artblog" src="{{this.image}}" alt="image enfance">
      <figcaption>
        <p class="titre-figcaption">{{this.titre}} </p> <a href="/art/{{this._id}}"><i
            class="fas fa-angle-right"></i>Accédez à l'article</a>
        <a href="/article/favoris/{{this._id}}"><img class="favoris" src="/images/fav.png" alt=""></a>
      </figcaption>


    </figure>

    </figure>

    {{/compare}} {{/each}}


  </section>
</section>