 <form role="form" action="/contact" method="post">
      <div class="container">
          
	    <label for="subject">Sujet</label>
	    <input type="text" name="subject"  required placeholder="Sujet">
	  </div>

	  
	    <label for="email">Email</label>
	    <input type="email" name="email"  required placeholder="Email">

	  

	    <label for="message">Message</label>
	    <textarea name="message"  required placeholder="Votre message" rows="3"></textarea>

	  
	  <button type="submit" id="submit" >Envoyer</button>
	</form>