
 {{!-- préciser quel est le type de document qui va suivre, afin de permettre au navigateur de savoir quel langage  --}}
<!DOCTYPE html>
<html lang="fr">

{{> head}}

<body>

  {{> nav}}
  {{>flashMessage}}
  {{{body}}}
<a href="#up"> <img class="up" src="/images/up.png" alt="monter"></a>
  {{> footer}}

</body>

</html>