
    <section class="api-livres">
  <hgroup>
            <h2 id="apropos"><span>Je recherche </span>un livre.</h2>
            <h3> Renseigner le champs ci dessous par catégorie (livre jeunesse, Bande dessinée jeunesse ou livre adultes). Ou par titre de livre recherché.</h3>
        </hgroup>


     <input class="triType" type="radio" value="type" name="type-tri" >
        <label for="triType">Recherche par Type de lecture</label>

        <input class="triNom" type="radio" value="nom" name="type-tri" checked>
        <label for="type-tri">Recherche par Titre de livre</label>

        <input type="text" id="input-livre" placeholder="Recherche un livre">
        <ul id="ouvrages"></ul> <p class="erreur">Oups! aucun livres trouvés, verifiez l'orthographe.</p>
    </section>


    <a href="#up"> <img class="up" src="images/up.png" alt=""></a>
