<section class="contain">
  <hgroup>
    <h2 id="apropos">Accede<span>z à mon Pro</span>fil.</h2>
    <h3> Veuillez remplir les champs ci-dessous</h3>
  </hgroup>

  <form class="container-inscr" method="post" action="/sidentifier" id="form_user">

    <label for="email" class="label-ref label"><b>Email</b></label>
    <input id="email" type="email" class="input" placeholder="votreEmail@gmail.com" required name="email">

    <label for="password" class="label-ref label"><b>Mot de passe</b></label>
    <p id="icon-toggle">
      <i class="fas fa-eye"></i>
    </p>
    <input id="password" type="password" class="input" placeholder="••••••" required name="password">


    <figure><img class="boy" src="images/boy.svg" alt="boy"></figure>
    <button class="button-password">Connexion</button>
    <p class="pasdecompte">Pas encore de compte? <a href="sinscrire">Inscription</a></p>
  </form>


</section>