<section class="contain">
  <hgroup>
    <h2 id="apropos">Accede<span>z à mon Das</span>hboard.</h2>
    <h3> Identifie toi et gère les articles et futurs articles</h3>
  </hgroup>



  <section class="container">

    <form method="post" action="/sidentifier" id="form_user" >

      <div class="form-item-wrapper flexed-item">

        <label for="email" class="label-ref label">Email</label>
        <input id="email" type="email" class="input-text input" placeholder="hello@gmail.com" required
          value="hello@gmail.com" name="email">
      </div>

      <div class="form-item-wrapper flexed-item">

        <label for="password" class="label-ref label">Password</label>
        <input id="password" type="password" class="input-text input" placeholder="••••••" required value="1234"
          name="password">
      </div>

      <figure><img class="boy" src="images/boy.svg" alt=""></figure>
      <button class="button-password">OK</button>
    </form>

  </section>
</section>