<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="javascripts/sortie.js"></script>
    <link rel="stylesheet" href="stylesheets/sortie.css">
    <title>Rise Chils up! Loisir</title>
</head>
<body>
   

 <section class="api">
        <h2 id="apropos">Je <span>recher</span>che une sortie</h2>
        <p>Renseigner le champs ci dessous pour trouvez une sortie à faire en famille en région parisienne (Spéctacle, exposition, théatre, animation)</p>
       



        <input id="inputb" type="text" placeholder="chercher une sortie...">
        <ul id="sortie"></ul>
    </section> 
    <a href="#up"> <img class="up" src="images/up.png" alt=""></a>
</body>

</html>