<section class="api-sortie">
    <hgroup>
        <h2 id="apropos"><span>Je recherche </span>une sortie.</h2>
        <h3> Vous êtes souvent à court d'idées pour une activité à faire?
            Renseigner le champ ci-dessous pour trouvez une activité à faire en famille pour petits et grands et pour
            tous les budgets en région parisienne .</h3>
    </hgroup>

    <ul class="container-pages-sorties" id="pages-sorties"></ul>

    <input id="inputb" type="text" placeholder="         chercher une sortie...">

    <ul id="sortie"></ul>
    <p class="erreur" id="erreur"></p>
</section>